{% extends 'DietBundle::base.html.twig' %}

{% block title %}Twój profil{% endblock %}
{% block contentTitle %}Twój profil{% endblock %}

{% block content %}
    {% include 'DietBundle::spinner.html.twig' %}
    <div id="ext-app-container" data-view="profile" style="visibility: hidden">
    </div>
    <div class="a-panel top padding inline" id="ext-body-density-panel" style="visibility: hidden">
        <p>Porównaj sylwetkę do <i>Body Density</i> = <b id="ext-body-density-output">45%</b></p>
        <img id="ext-body-women" class="rounded border" src="{{ asset('e-dietetyk/images/body-fat-percentage-women.jpg') }}"/>
        <img id="ext-body-men" style="display: none" class="rounded border"
             src="{{ asset('e-dietetyk/images/body-fat-percentage-men.jpg') }}"/>
    </div>
    <script type="text/javascript"> //TODO NAJLEPIEJ PONIŻSZE DANE WYRENDEROWAĆ TWIGIEM!
        dane = {
            imie: '{{ user.imieNazwisko }}'.split(' ')[0],
            nazwisko: '{{ user.imieNazwisko }}'.split(' ')[1],
            waga: {{ user.waga }},
            wiek: {{ user.wiek }},
            wzrost: {{ user.wzrost }},
            plec: '{{ user.plec }}',
            bodyDensity: {
                {% if user.plec == 'kobieta' %}biodro{% else %}pepek{% endif %}:
                    {{ user.bodyDensityBiodro }},
                udo: {{ user.bodyDensityUdo }},
                {% if user.plec == 'kobieta' %}triceps{% else %}klatka{% endif %}:
                    {{ user.bodyDensityTriceps }}
            },
            saveUrl: '{{ path('diet_profile_update') }}'
        };

        /*
        UWAGA! format odpowiedzi serwera na zapis JSON:
         would process the following server response for a successful submission:

         {
         "success":true, // note this is Boolean, not string
         "msg":"Consignment updated"
         }
         and the following server response for a failed submission:

         {
         "success":false, // note this is Boolean, not string
         "msg":"You do not have permission to perform this operation"
         }
         */


        window.extLoadCallback = function (api) {
            api.loadProfile(dane);
        }
    </script>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {# nie używać assetica bo ext nie doładuje sobie plików#}
    <script src="../vendor/ext-4.2.1.883/ext-debug.js"></script>
    <script src="../vendor/kinetic-4.7.4/kinetic-v4.7.4.min.js"></script>
    <script src="../e-dietetyk/js/app.js"></script>

{% endblock %}
{% block stylesheets %}
    {{ parent }}
    <link rel="stylesheet" href="../vendor/ext-4.2.1.883/resources/css/ext-all-neptune.css"/>
    <link rel="stylesheet" href="../e-dietetyk/stylesheets/screen.css"/>
{% endblock %}
